{
    "tabWidth": 2,
    "useTabs": false,
    "bracketSpacing": true,
    "trailingComma": "all",
    "singleQuote": false,
    "bracketSameLine": true,
    "semi": true,
    "arrowParens": "always",
    "proseWrap": "always",
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
  }